target/
*.jar
*.war
*.ear
*.nar
*.class
*.factorypath

.idea/
*.iws
*.iml
*.ipr
out/
gen/
.classpath
.project
.settings/
.factorypath
.nbproject/
build/

*.db
*.db-journal
*.sqlite

user_posts/
src/main/resources/static/img/profile_pictures/*
!src/main/resources/static/img/profile_pictures/.gitkeep

node_modules/
.vercel/
dist/
build/

.DS_Store
Thumbs.db
desktop.ini
*.log
logs/